<html>
	<head>
		<title>Title Here</title>
	</head>
	<body>
		<div id="main">
			<a href="/login" class="btn btn-default">Local Login</a>
        	<a href="/signup" class="btn btn-default">Local Signup</a>
		</div>
		<script src = "/js/bundle.js"></script>
	</body>
</html>