<html>
<head>
	
</head>

<body>
	Login
	<form action="/login" method="post">
		UN: <input type="text" name="username">
		PW: <input type="password" name="password">
		<button type="submit">Login</button>
	</form>
</body>
</html>